# Flask & Web Framework Extensions
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Bcrypt
#Flask-Mail Render정책으로 인해 SendGrid로 변경

# JWT for token authentication
PyJWT

# Database Driver (PostgreSQL)
psycopg2-binary

# WSGI Server for deployment
gunicorn

#SendGrid for sending emails
sendgrid