/* 한, 영, 일 폰트 : Noto Sans KR, JP, MONO */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* 내용 전용 폰트  : Yomogi KR, EG*/
@import url('https://fonts.googleapis.com/css2?family=Yomogi&family=Noto+Serif+JP:wght@400&family=Noto+Serif+KR:wght@400&display=swap');


.add-post-form {
    margin-top : 30px;
    padding : 20px;
    background-color: #f9f9f9;
    border-top: 2px solid #007bff;
}

.add-post-form h3 {
    font-size: 1.8rem;
    margin-top: 0;
}

.add-post-form textarea {
    width: 100%;
    padding: 10px;
    font-family: 'Noto Sans KR', 'Yomogi', 'Noto Sans MONO', cursive; /* 손글씨 폰트 적용 */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.add-post-form button {
    font-family: 'Noto Sans KR', 'Yomogi', 'Noto Sans MONO', cursive; /* 손글씨 폰트 적용 */
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.add-post-form button:disabled {
    background-color: #aaa;
}

.add-post-form .error-message {
    color: red;
    font-size: 1rem;
}